<div class="container" ng-controller="mainController">
	<form ng-submit="enviarPedido()" >
		<div class="row">
			<div class="col-sm-3 form-group"></div>
			<div class="col-sm-6 form-group">
				<label>Nome</label>
				<input type="text" class="form-control" ng-model="marmita.nome" maxlength="60" required>
			</div>
		</div>

		<div class="row">		
			<div class="col-sm-3 form-group"></div>
			<div class="col-sm-2 form-group">				
				<div class="radio">
				  <label>
				    <input type="radio" name="tamanho" id="optionsRadios1" value="P" ng-model="marmita.tamanho">
				    P (R$ 7,50) 
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="tamanho" id="optionsRadios2" value="M" ng-model="marmita.tamanho">
				    M (R$ 9,50)
				  </label>
				</div>				
			</div>

			<div class="col-sm-2 form-group">
				<div class="radio ">
				  <label>
				    <input type="radio" name="tipo" id="optionsRadios1" value="simples" ng-model="marmita.tipo">
				    Simples
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="tipo" id="optionsRadios2" value="executiva" ng-model="marmita.tipo">
				   Executiva(R$ +6,00)
				  </label>
				</div>
			</div>

			<div class="col-sm-2 form-group">
				<div class="radio ">
				  <label>
				    <input type="radio" name="arroz" id="optionsRadios1" value="normal" ng-model="marmita.arroz">
				    Arroz Branco
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="arroz" id="optionsRadios2" value="integral" ng-model="marmita.arroz">
				   Arroz Integral
				  </label>
				</div>
			</div>				
			
		</div>

		<div class="row">
			<div class="col-sm-3 form-group"></div>
			<div class="col-sm-3 form-group">
				<div class="radio ">
				  <label>
				    <input type="radio" name="embalagem" id="optionsRadios1" value="aluminio" ng-model="marmita.embalagem">
				    Aluminio
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="embalagem" id="optionsRadios2" value="caixa" ng-model="marmita.embalagem">
				   Caixa(R$ +1,00)
				  </label>
				</div>
			</div>

			<div class="col-sm-1 form-group">
				<label>Quantidade</label>
				<input type="number" class="form-control" min="1" ng-model="marmita.quantidade" min="1" max="100" required>
			</div>

			<div class="col-sm-2 form-group">
				<label>Valor</label>
				<div class="input-group">
					<span class="input-group-addon">R$</span>
					<label class="form-control">{{getTotal(marmita) | currency}}</label>					
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-sm-3 form-group"></div>
			<div class="col-sm-4 form-group">
				<label>Observação</label>
				<input type="text" class="form-control" ng-model="marmita.observacao" maxlength="40">
			</div>
			<div class="col-sm-2 form-group">
				<label>&nbsp;</label>
				<input type="submit" value="Enviar" class="btn btn-success form-control">
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-3 form-group"></div>
		<div class="col-sm-6" id="sucessMessage" style="display:none;">
			<div class="alert alert-success">Seu pedido foi enviado com sucesso!</div>	
		</div>
	</div>
		
</div>
<script type="text/javascript" src="./js/efeitos.js"></script>	